body {
  margin: 0;
  font-family: 'Overpass Mono', monospace;
}

.dark {
  background: #000;
  color: #fff;
}

#clock {
  width: 400px;
  height: 400px;
  margin: 40px auto;
  padding-left: 15px;
  text-transform: uppercase;
  letter-spacing: 15px;
  font-size: 25px;
  line-height: 1.24;
}
